
$font_family: Roboto, -apple-system, Helvetica Neue, Helvetica, Segoe UI, Arial, sans-serif;

$text_color: #191c1e;
$primary_color: #eb008d;
$secondary_color: #a0a6ad;
$border_color: #0075eb;
$white: #fff;

$space-xs: 1em;
$space-sm: 2rem;
$space-md: 4rem;
$space-lg: 16rem;
$space-xl: 32rem;
$space-xxl: 64rem;